:root {
    --color-grey: #e0e1dd;
    --color-hover: #cecece;
    --color-dark-text: #303030;
    --color-blue0: #778da9;
    --color-blue1: #415a77;
    --color-blue2: #1b263b;
    --color-dark: #0d1b2a;
}

/* Basic attribute customization */
html  {
    scroll-behavior: smooth;
    background-color: var(--color-grey);
    font-family: system-ui;
}

body {
    margin: 0;
}

h4 {
    margin: 0;
    padding: 1rem;
}

p {
    margin: 0;
    padding: 1rem;
}

svg {
    max-height: 100%;
}

/* Short descriptions, 50% of page width */
.short-description {
    text-align: center;
    max-width: 50%;
    margin: 0;
    padding: 1rem;
}

/* Section (no padding)*/
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Container (padding)*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 0 0 0;
}

/* Header/Navigation */
header {
    display: flex;
    flex-direction: column;
    position: sticky;
    align-items: center;
    top: 0;
    box-shadow: inset 0 -1px var(--color-dark);
    background-color: var(--color-grey);
    margin: 0;
    border: 0;
    padding: 0;
    z-index: 999;
}

/* The main navigation bar holder at the top of the page */
.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 45px;
}

/* Unordered list holding main nav links */
.header-ul {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Unordered list holding main nav links, seperate because does not get hidden */
.sub-header-ul {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: row;
    margin: 0;
    padding: 0 5px;
    border: 0;
}

/* Unordered list holding main nav links in the responsive dropdown */
.dropdown-ul {
    display: flex;
    gap: 0.75rem;
    align-items: flex-end;
    list-style: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/* Main div holding the dropdown navigation */
.dropdown {
    display: none;
    justify-content: end;
    position: sticky;
    width: 100%;
    padding: 0.5rem 0 1rem 0;
}

/* Linked-in button */
.linkedin-nav-button {
    border: 2px solid;
    border-color: var(--color-dark-text);
    position: relative;
    display: flex;
    margin: 0 0.5rem;
}

/* Linked-in svg */
.linkedin-svg {
    color: var(--color-dark-text);
    width: 1em;
    height: 1em;
    padding: 0.09em;
}

/* 3 line icon you click to open dropdown */
.dropdown-icon {
    display: none;
}

/* Seperate link class for larger padding and features */
.header-link {
    text-decoration: none;
    color: var(--color-dark-text);
    padding: 0.5rem 1.75rem;
    border-radius: 1rem;
}

/* Seperate link class for smaller padding and features, since device is smaller */
.dropdown-link {
    text-decoration: none;
    color: var(--color-dark-text);
    padding: 0.25rem 1rem;
    border-radius: 1rem;
}

/* Changes the background color when a link is hovered */
.link:hover {
    background-color: var(--color-hover);
}

/* Main intro div */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 0;
    gap: 1.5rem;
}

/* Welcome header text */
.welcome {
    margin: 0;
    color: var(--color-blue1);
    text-shadow: -1px 1px 1px var(--color-dark);
    font-size: 400%;
}

/* Full name header text */
.name-header-text {
    margin: 0;
    color: var(--color-blue1);
    text-shadow: -1px 1px 1px var(--color-dark);
    font-size: 200%;
    white-space: nowrap;
}

/* One sentence brief description */
.brief-description {
    margin: 0;
    color: var(--color-dark-text);
    padding: 1.2rem;
    font-size: 100%;
    text-align: center;
}

/* Hold the "Check This Out" button and arrows */
.check-this-out-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Check this out text */
.check-this-out-text {
    margin: 0;
    color: var(--color-dark-text);
    padding: 1rem;
    font-size: 100%;
    border-radius: 1rem;
    text-decoration: none;
    white-space: nowrap;
}

.check-this-out-text:hover {
    background-color: var(--color-hover);
}

/* Offset the right arrow slightly because it was offset for some reason */
.right-arrow {
    left: 10px;
}

/* Arrow holder */
.animated-arrow {
    display: block;
    position: relative;
    transform: translate(-50%, -50%);
    cursor: pointer;
    margin: 1rem;
    top: 0.75rem;
}

/* Arrow spans, become the actual lines using two borders and transform rotation */
.animated-arrow span {
    display: flex;
    width: 0.75rem;
    height: 0.75rem;
    border-bottom: 2px solid var(--color-dark);
    border-right: 2px solid var(--color-dark);
    transform: rotate(45deg);
    opacity: 0;
}

/* Arrow animation settings */
.check-this-out-container:hover div span {
    animation: arrow-animate 1.5s infinite;
}

.animated-arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.animated-arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

/* Profile picture */
.profile-pic {
    border-radius: 50%;
    border: 1px solid;
    border-color: var(--color-dark);
}

/* Skills/Experience div holder for sizing */
.experience {
    max-width: 50%;
}

/* Individual course item */
.course-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    min-height: 25px;
    max-height: 25px;
    white-space: nowrap;
    justify-content: flex-start;
    text-align: center;
}

/* Unordered list for holding each skill item, using flex wrap to wrap items */
.skills-ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    gap: 25px;
    padding: 0;
}

/* Individual skill item */
.skill-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    min-height: 25px;
    max-height: 25px;
    white-space: nowrap;
    justify-content: flex-start;
}

/* Sets the size and padding for skill icons */
.skill-icon {
    max-height: 100%;
    min-height: 25px;
    min-width: 25px;
    padding: 0 0.4rem 0 0;
}

/* Card holder setup */
.card-container {
    width: 50%;
    display: flex;
    gap: 2rem;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}

/* Individual card styling, relative to allow elements to be positioned on top */
.card {
    flex: 0 0 auto;
    border-radius: 1rem;
    border: 2px solid var(--color-dark-text);
    width: 200px;
    height: 250px;
    overflow: hidden;
    position: relative;
}

/* Background image that is inside the card */
.card-image {
    width: inherit;
    height: inherit;
    z-index: 0;
}

/* Text over the image and near the top */
.card-text {
    position: absolute;
    font-size: 150%;
    width: inherit;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

/* Read more div holding the read more link */
.read-more {
    position: absolute;
    font-size: 140%;
    width: 100%;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.card-link {
    color: var(--color-dark-text);
    font-weight: 500;
    text-decoration: none;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    background-color: #e0e1dd85;
}

.card-text {
    font-weight: 500;
    text-shadow: -1px 1px 1px rgb(138, 138, 138);
}

.card-link:hover {
    background-color: var(--color-hover);
}

a:-webkit-any-link {
    text-decoration: none;
}

footer {
    height: 200px;
}

/* This class is added to reponsive elements to make them visible */
.responsive {
    display: flex;
}

@keyframes arrow-animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-15px, -15px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(15px, 15px);
    }
}

/* Sets properties for responsiveness when screen is small (750px or less) */
@media screen and (max-width: 750px) {
    .header-ul {
        display: none;
    }
    .dropdown-icon {
        display: flex;
    }
    .header-nav {
        justify-content: right;
    }
    .short-description {
        max-width: 80%;
    }
    .experience {
        max-width: 80%;
    }
}

/* Makes the nav dropdown invisible when screen is made larger */
@media screen and (min-width: 750px) {
    .dropdown {
        display: none;
    }
}

/* Gives everything a larger font size for larger screens above 1500px */
@media screen and (min-width: 1500px) {
    .welcome {
        font-size: 500%;
    }
    .name-header-text {
        font-size: 250%;
    }
    .brief-description {
        font-size: 125%;
    }
    .check-this-out-text {
        font-size: 120%;
    }
    h4 {
        font-size: 120%;
    }
    p {
        font-size: 120%;
    }
    .card {
        width: 300px;
        height: 375px;
    }
}