html  {
    scroll-behavior: smooth;
}

.main-header {
    display: flex;
    flex-direction: column;
    position: sticky;
    background-color: white;
    align-items: center;
    top: 0;
    box-shadow: inset 0 -1px #616161;;
    margin: 0;
    border: 0;
    padding: 0;
}

.header-ul {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: row;
    flex-grow: 1;
    padding: 0;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 1.5rem;
    height: 45px;
}

.dropdown-ul {
    display: flex;
    gap: 0.75rem;
    align-items: flex-end;
    list-style: none;
    flex-direction: column;
    flex-grow: 1;
    padding: 0;
    margin: 0;
}

.nav-dropdown-div {
    display: none;
    position: sticky;
    width: 100%;
    padding: 0.5rem 0 1rem 0;
}

.linkedin-nav-button {
    border: 2px solid;
    border-color: #616161;
    position: relative;
    display: flex;
    margin: 0 0.5rem;
}

.linkedin-svg {
    color: #616161;
    width: 1em;
    height: 1em;
    padding: 0.09em;
}

svg {
    max-height: 100%;
}

.nav-dropdown-icon {
    display: none;
}

.sub-header-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
}

.header-link {
    text-decoration: none;
    color: #303030;
    padding: 0.5rem 1.75rem;
    border-radius: 1rem;
}

.header-link:hover {
    background-color: #efefef;
}

.dropdown-link {
    text-decoration: none;
    color: #303030;
    padding: 0.25rem 1rem;
    border-radius: 1rem;
}

.dropdown-link:hover {
    background-color: #efefef;
}

.responsive {
    display: flex;
}

.main {
    flex: 1;
}

.body {
    display: flex;
}

* {
    font-family: system-ui;
}

.main-intro-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 0;
    gap: 1.5rem;
}

.welcome-header-text {
    margin: 0;
    color: #616161;
    text-shadow: -1px 1px #000000, 1px -1px #b4b4b4;
    font-size: 400%;
}

.name-header-text {
    margin: 0;
    color: #616161;
    text-shadow: -1px 1px #000000, 1px -1px #b4b4b4;
    font-size: 200%;
    white-space: nowrap;
}

.brief-description {
    margin: 0;
    color: #616161;
    padding: 1.2rem;
    font-size: 100%;
}

.check-this-out-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.check-this-out-text {
    margin: 0;
    color: #616161;
    padding: 1rem;
    font-size: 100%;
    border-radius: 1rem;
    text-decoration: none;
    white-space: nowrap;
}

.check-this-out-text:hover {
    background-color: #efefef;
}

.right-arrow {
    left: 10px;
}

.animated-arrow {
    display: block;
    position: relative;
    transform: translate(-50%, -50%);
    cursor: pointer;
    margin: 1rem;
    top: 0.75rem;
}

.animated-arrow span {
    display: flex;
    width: 0.75rem;
    height: 0.75rem;
    border-bottom: 2px solid #616161;
    border-right: 2px solid #616161;
    transform: rotate(45deg);
    opacity: 0;
}

.check-this-out-div:hover div span {
    animation: arrow-animate 1.5s infinite;
}

.animated-arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.animated-arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

.about-me-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 0 0 0;
}

.profile-pic {
    border-radius: 50%;
    border: 1px solid;
    border-color: black;
}

.about-me-description {
    padding: 1rem 1rem;
    text-align: center;
    max-width: 80%;
}

.experience-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 0 0 0;
}

.experience-body-div {
    display: flex;
    flex-direction: row;
}

.skills-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
    gap: 5px;
}

.skills-ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    gap: 25px;
    padding: 0;
}

.skills-name-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    min-height: 25px;
    max-height: 25px;
    white-space: nowrap;
    justify-content: flex-start;
}

.svg-icon {
    max-height: 100%;
    min-height: 25px;
    min-width: 25px;
    padding: 0 0.4rem 0 0;
}

.skills-header {
    margin-left: auto;
    margin-right: auto;
}

.work-div {
    width: 200px;
}

.education-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 0 0 0;
}

.projects-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 3rem;
}

.cards-div {
    width: 700px;
    display: flex;
    gap: 2rem;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}

.card {
    flex: 0 0 auto;
    border-radius: 1rem;
    border: 2px solid #616161;
    width: 200px;
    height: 250px;
}

.high-school-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sub-high-school-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.de-la-salle-logo {
    padding: 2.5rem;
}

.asu-logo {
    padding: 1rem;
}

.de-la-salle-description {
    text-align: center;
    max-width: 600px;
    margin: 0;
    padding: 1rem;
}

.university-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sub-university-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.university-description {
    text-align: center;
    max-width: 600px;
    margin: 0;
    padding: 1rem;
}

.contact-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 0 0 0;
}

footer {
    height: 200px;
}

@keyframes arrow-animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-15px, -15px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(15px, 15px);
    }
}

@media screen and (max-width: 750px) {
    .main-header-div {
        display: none;
    }
    .nav-dropdown-icon {
        display: flex;
    }
    .header-nav {
        justify-content: right;
    }
    .cards-div {
        width: 300px;
    }

    .high-school-div, .university-div {
        flex-direction: column;
    }
}

@media screen and (min-width: 750px) {
    .nav-dropdown-div {
        display: none;
    }
    .about-me-description {
        max-width: 50%;
    }
}

@media screen and (min-width: 1000px) {
    .cards-div {
        width: 800px;
    }
}

@media screen and (min-width: 1500px) {
    .welcome-header-text {
        font-size: 500%;
    }
    .name-header-text {
        font-size: 250%;
    }
    .brief-description {
        font-size: 125%;
    }
    .check-this-out-text {
        font-size: 120%;
    }
    p {
        font-size: 120%;
    }
    h4 {
        font-size: 120%;
    }
    .card {
        width: 300px;
        height: 375px;
    }
    .cards-div {
        width: 1400px;
    }
}